.lead__title {
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    max-width: calc(288px + (100vw - 321px)*(720 - 288)/(767 - 321));
    font-size: calc(40px + (100vw - 321px)*(96 - 40)/(767 - 321));
    line-height: calc(44px + (100vw - 321px)*(96 - 44)/(767 - 321));
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
